data/*
data/wikicorpus.txt

#openie6
openie6/__pycache__
openie6/transformers
!openie6/carb/data
!openie6/imojie/allennlp/allennlp/data
!openie6/imojie/allennlp/allennlp/models
openie6/carb/data/*.pkl*
*.ckpt*
openie6/plotdir
openie6/.vscode
openie6/data
openie6/models
*tar.gz
openie6/sentences.txt
predictions.txt*

__pycache__/