transformers>=4.6.0,<5.0.0
tokenizers>=0.10.3
tqdm
torch>=1.6.0
torchvision
numpy
scikit-learn
scipy
nltk
huggingface-hub
sentencepiece
pandas
spacy
spacy-experimental
https://github.com/explosion/spacy-experimental/releases/download/v0.6.1/en_coreference_web_trf-3.4.0a2-py3-none-any.whl
